body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e8e8e8;
    text-align: center;
}

.container {
    padding: 32px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 450px;
    margin: 0 10%;
}

.status {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 20px;
}

audio {
    width: 100%;
    margin-top: 20px;
}
